# vim related ignores
*.swp
.lvimrc

# emacs related ignores
*#*#
*.#*#
.#*
*~

# git related ignores
*.rej
*.orig
.git-module-status

# project related ignores
/samba-3.6.25/samba-3.6.25.tgz
/samba-3.6.25/samba36-addon/usr/**
/samba-3.6.25/SAMBA36/Samba36_*.bin
/samba-3.6.25/SAMBA36/files/tmp/*
/samba-3.6.25/SAMBA36/files/etc/frontview/addons/bin/SAMBA36/*
/samba-3.6.25/SAMBA36/files/etc/frontview/addons/ui/SAMBA36/*
/samba-3.6.25/SAMBA36/files/etc/frontview/apache/addons/*
